.back-home-page{
    width: 40px;
    height: 40px;
    display: grid;
    grid-template-columns: 40px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    
    &:hover{
        background-color: rgba(0,0,0,0.5);
    }

    span{
        grid-area: 1 / 1 / 2 / 2;
        
        &:nth-child(1){
            padding: 2px;
            z-index: 1000;
            width: 40px;
            height: 40px;
        }

        &.material-icons{
            color: rgb(255,255,255);
            font-size: 36px;
        }
    }
}