.menu{
    background-color: $main-color;
    padding: 10px;

    &-container{
        @include add-flex-center();

        > h1{
            font-family: 'Courgette',Arial, Helvetica, sans-serif;
            margin: 0 5px;
        }
    }

    &-icon{
        @include add-style-icon(40px, $default-black);
    }
}
