$main-color: rgba(232, 128, 6, 1);

$cancel-button: rgba(108, 108, 108, 1);
$delete-button: rgba(255, 0, 0, 1);
$add-update-button: rgba(39, 147, 1, 1);

$default-black: rgba(0, 0, 0, 1);
$default-white: rgba(255, 255, 255, 1);

@mixin add-width-height($w, $h:auto ){
    width: $w;
    height: $h;
}

@mixin add-flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin add-style-icon($grid-width, $color){
    display: grid;
    grid-template-columns: $grid-width;
    justify-items: center;
    align-items: center;
    margin: 0 2px 0 0;

    > span{
        grid-area: 1 / 1 / 2 / 2;
        
        &:nth-child(1){
            z-index: 10;
            @include add-width-height($grid-width, $grid-width);
        }

        &.material-icons{
            font-size: $grid-width - 4px;
            color: $color;
            font-weight: 500;
        }  
    }
}

@mixin add-button-style($background-color, $color){
    @include add-flex-center();
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    box-shadow: 2.5px 2.5px 0px 0px $default-black;
    font-size: 1.7rem;
    background-color: $background-color;
    color: $color;
    font-weight: 700;

    &:hover{
        background-color: darken($background-color, 15);
    }

    &:active{
        box-shadow: none;
    }
}

@mixin add-media-query($width){
    @media(max-width: $width){
        @content
    }
}